<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>heeeey!</title>
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,800" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div id="MainContent">
		<video autoplay loop muted >
			<source src="videos/smokes.mp4" type="video/mp4">
		</video>
		<div class="content">
			<div class="titles">
				<h1 class="heading hd1">Artist</h1>
				<h1 class="heading hd2">Father</h1>
				<h1 class="heading hd3">Activist</h1>
			</div>
			<div class="nipsey">
				<h1 class="heading hd4">Nipsey <span>Hussle</span></h1>
				<h2 class="heading hd5">1985 - 2019</h2>
				<!-- <img class="heading hd6 flag" src="images/blue-bandana.jpg" alt="blue-flag"> -->
			</div>
		</div>
		<div class="image-right">
			<img src="images/nipsey-4.png" alt="nipsey">
		</div>
	</div>
</body>
</html>